<ion-header>
  <ion-toolbar>
    <ion-title>uva100</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">uva100</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-grid color="light">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <h1 class="ion-text-center">3n + 1</h1>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="ion-text-center">Valore I</h2>
        </ion-col>
        <ion-col>
          <h2 class="ion-text-center">Valore J</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <H3 class="ion-text-center">I</H3>
          <ion-item>
            <ion-label position="floating">Inserisci valore iniziale</ion-label>
            <ion-input type="number" [(ngModel)]='i'> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <h3 class="ion-text-center">J</h3>
          <ion-item>
            <ion-label position="floating">Inserisci valore finale</ion-label>
            <ion-input type="number" [(ngModel)]='j'> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
          <ion-col>
            <h3 class="ion-text-center">Massima Lunghezza</h3>
            <ion-item>
              <ion-label position="floating">La lunghezza massima è </ion-label>
              <ion-input (evento)="stampa($event)" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-button (onclick)="stampa(max)">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>